<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<header>
    <section><a th:if="!${username}" href="/login"> Login </a>
        <br>
        <a th:if="!${username}" href="/singup"> Sign up </a>
        <a th:if="${username}" href="/logout"> logout </a>
    </section>
    <section>
        <div id="nameText">
            <p th:if="${username != null}" th:text="${'Current Users Username: ' + username}"></p>
            <p th:if="${username != null}" th:text="${'Current Users Name: ' + firstName + ' ' + lastName}"></p>
            <p th:if="${username != null}" th:text="${'Current Users Birthday: ' + dateOfBirth}"></p>
            <p th:if="${username != null}" th:text="${'Current Users Bio: ' + bio}"></p>

        </div>
    </section>
</header>

</body>
</html>